/* smartlol.css */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: "Logo Font";
    src: url(Pacifico-Regular.ttf) format("truetype");
}


@font-face {
    font-family: "Nav Bar Font";
    src: url(NotoSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Log in Font";
    src: url(RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Cool Section Font";
    src: url(RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Cool Section Font Bold";
    src: url(RobotoSlab-Bold.ttf) format("truetype");
}

header{
	/*background-color: #000;*/
	overflow: hidden;
	max-width: 100%;
	background-color:black;
}

.mageIcon{
	display: block;
	width: 7%;
	float: left;
	padding-left: 35px;
	padding-top: 25px;
}

span{
	color: #8124b7;
}

h1{
	color: #2782FB;
	width: 20%;
	float: left;
    font-family: "Logo Font", Verdana, Tahoma;
    font-size: 40pt;
    font-weight: normal;
}

header li{
	width: 10%;
	float: left;
	list-style-type: none;
}

header a{
	text-decoration: none;
	display: block;
	color: #2782FB;
	font-size: 16pt;
	font-family: "Nav Bar Font", Verdana, Tahoma;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	border-radius: 20px;
}

header a:hover{ 
	background: linear-gradient(to right, #56B4D3, #348F50);
	color: #ffe555;
	transform: scale(1.1);
}

.loginNav{
		width: 23%;
		padding-top: 30px;
		padding-right: 90px;
}

.btnlogin{
	display: block;
	float: right;
	background: linear-gradient(to bottom, #3a6073, #3a7bd5);
	font-family: "Log in Font", Verdana, Tahoma;
	font-size: 18pt;
    color: #c8daea;
    border: none;
    line-height: normal;
    overflow: visible;
    padding: 0;
    padding: 10px 25px;
}

.btnlogin:hover{
	transform: scale(1.1);
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	cursor: pointer;
}

main{
	clear: both;
	background: #C2C2C2;
	text-align: center;
}

.searchlinks{
	background-image: url('images/bg-howling-abyss.jpg');
	background-position: center;
	background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    position: relative;
    height: 720px;
}

.searchlinks input{
	position: absolute;
	font-family: "Nav Bar Font", Verdana, Tahoma;
	padding: 5px;
	font-weight: bold;
}

.searchlinks input[type=text]{
	border-radius: 10px;
	top: 250px;
	font-size: 20pt;
	border: 1px solid #000;
	width: 40%;
	left: 30%;
	opacity: 0.8;
	background-image: url(images/ic_search_black_24px.svg);
	background-position: left;
	background-repeat: no-repeat;
    background-size: contain;
    padding-left: 4%;
    color: #222C96;
}

.searchlinks input[type=submit]{
	top: 325px;
	width: 15%;
	border-radius: 5px;
	cursor: pointer;
	background: linear-gradient(to bottom, #67b26f, #4ca2cd);
	font-size: 12pt;
	border: 1px solid #0d3d68;
	color: #c8daea;
}

.searchlinks input[type=submit]:hover{
	background: linear-gradient(to bottom, #3a6073, #3a7bd5);
	border: 1px solid #0d3d68;
	color: #c8daea;
	transform: scale(1.1);
}

.btnSearchData{
	left: 32%;
}

.btnSearchLive{
	left: 52%;
}

.links{
	position: absolute;
	width: 67%;
	margin-left: 16.5%;
	top: 400px;
}

.liveGames, .summonerData{
	width: 33%;
	float:left;
}

.championSelection{
	width: 33%;
	float: right;
}

.links ul{
	list-style:none;
}

.links img{

	border: 7px solid #3286ED;
	border-radius: 50%;
	margin-top: 3%;
}

.links a{
	text-decoration: none;
	color: inherit;
}

.links p, .links h3{

	font-family: "Nav Bar Font", Verdana, Tahoma;
	padding: 5px;
	background-color: rgba(255,255,255,0.5);
	display: block;
	font-weight: bold;
	color: #0C081E;
}

.links h3{
	font-size: 15pt;
	border-radius: 10px;
	margin-top: 15%;
}

.liveGames h3{
	margin-left: 33%;
	width: 150px;
}

.links img{
	width: 189px;
	height: 189px;
	background-repeat: no-repeat;
    background-position: center;
    transition: padding 2s, margin 2s;
    transition-delay: 0s, 0.5s;
    transition-timing-function: linear;
}

.links img:hover{
	margin-top: -50px;
	padding: 40%;
}

.liveGames img{
	background-image: url(images/prueba3.jpg);

}

.summonerData img{
	background-image: url(images/prueba3.jpg);

}

.championSelection img{
	background-image: url(images/prueba3.jpg);

}

.summonerData h3{
	margin-left: 27%;
	width: 200px;
}

.championSelection h3{
	margin-left: 23%;
	width: 220px;
}

.links p{
	position: absolute;
	font-size: 10pt;
	top: -10%;
	width: 20%;
	margin-left: 7%;
	border-radius: 10px;
	/*opacity: 0;*/
	display: none;
}

.smartLolCool{
	clear: both;
	font-family: "Cool Section Font", Verdana, Tahoma;
	font-weight: bold;
	color: #857880;
	padding: 20px;
}

.smartLolCool h2{
	font-size: 45pt;
}

.smartLolCool h2 strong{
	font-family: "Logo Font", Verdana, Tahoma;
    font-size: 40pt;
    font-weight: normal;
    color: #2782FB;
}

.coolSectionCenter{
	text-align: left;
}

.smartLolCool h3{
	font-size: 23pt;
	font-family: "Cool Section Font";
	margin-top: 20px;
	color: #483748;
}

.smartLolCool p{
	display: block;
	font-size: 17pt;
	margin-top: 20px;
	padding-bottom: 35px;
}

.coolSectionLeft h3, .coolSectionLeft p, .coolSectionRight .imgContainer{
	float: left;
}

.coolSectionLeft .imgContainer, .coolSectionRight h3, .coolSectionRight p{
	float: right;
}

.coolSectionLeft h3, .coolSectionLeft p, .coolSectionRight h3, .coolSectionRight p{
	display: block;
	width: 50%;
	margin-top: 40px;
}

.coolSectionLeft .imgContainer, .coolSectionRight .imgContainer{
	width: 50%;
}

.imgContainer{
	margin-top: 2%; 
}
.coolSectionLeft, .coolSectionRight{
	height: 35vh;
	clear: both;
}

footer{
	max-width: 100%;
	background-color: #000;
	overflow: hidden;
	padding: 1%;
}

.imgFooterAhri, footer li{
	float: left;
}

.imgFooterEzreal{
	float: right;
}

.imgFooterAhri, .imgFooterEzreal{
	width: 20%;
}

.imgFooterAhri img, .imgFooterEzreal img{
	width: 20%;
}

.imgFooterAhri{
	text-align: right;
	padding-right: 2%;
}

footer li{
	width: 8%;
	list-style-type: none;
}

footer a:first-child{
	text-decoration: none;
	display: block;
	color: #2782FB;
	font-size: 16pt;
	font-family: "Nav Bar Font", Verdana, Tahoma;
	text-align: center;
}

.social{
	padding-left: 2%;
}

footer a:first-child:hover{
	color: #78C674;
}

.social:hover{
	opacity: 0.5;
}